/*Código CSS do Cabeçalho do site, onde temos a logo e o menu.*/
.header-store {    
    color: #FFF;
    overflow: hidden;  /*recalcula o contexto, o que posibilita que o pai considere os filhos*/ 
    margin-bottom: 138px;  
}  

.header-store > .title {
    font-size: 40px;
    font-family: Arial, 'Roboto', sans-serif;
    float: left; /*Logo flutuado a esquerda*/ 
    text-transform: uppercase;
}

.header-store > .navigation { 
    font-size: 21px;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    float: right; /*menu flutuando a direita*/
}

.header-store .action {
    color: inherit; /*herda a propriedade da tag pai.*/
    text-decoration: none;
    margin: inherit;   
    margin-right: 60px; /*Distância entre os itens do menu.*/
}

.header-store .action.-last {
    margin-right: 0;
}



