/*Código CSS do Cabeçalho do site, onde temos a logo e o menu.*/
header {
    background-color: #e24647;
    color: #FFF;
    overflow: hidden;
    margin: 0 115px; /*Respiro externo*/
    padding: 55px 28px 95px 60px; /* padding: top right/left  botton; - respiro interno*/

}  

h1 {
    font-size: 40px;
    font-family: Arial, 'Roboto', sans-serif;
    float: left;
}

nav{ 
    font-size: 21px;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    float: right;
}

a {
    color: inherit; /*herda a propriedade da teg pai.*/
    text-decoration: none;
    margin: inherit;
    padding-left: 28px;
    
}



