/*Código CSS do Cabeçalho do site, onde temos a logo e o menu.*/
header {
    background-color: #e24647;
    font-family: 'Roboto', sans-serif;
    }  

h1 {
    color: #FFF;
    font-size: 40px;
}

a {
    color: #FFF;
    text-decoration: none;
    font-size: 21px;
    margin: 0 20px;
}

.logo .menu {
    width: 80px;
    height: 100px;
}
    
.menu {
    float: right;
} 
    
.logo, .menu {
    display: inline-block;
}

